//////////////
//LISTINGS
//////////////
.post-list-container{
	width: 60%;
	margin: 0 auto;
}

div.post_categories{
	clear: both;
	border-top: 1px solid $orange;
	ul{
		list-style-type: none;
		margin-left: -40px;
		li{
			display: inline-block;
			width: 25%;
			a{
				font-size: 14px;
				text-decoration: none;
				color: black;
			}
			a::before{
				content: '\2193 ';
				color: $orange;
			}
		}
	}
}

.single-post-info{
	width: 18%;
	margin-right: 2%;
	float: left;
	h1{
		a{
			text-decoration: none;
			font-size: 24px;
			color: black;
		}
	}
	.post-meta{
		margin: 0;
		font-family: $neuton;
	}
	small{
		font-family: $neuton;
		a{
			text-decoration: none;
			color: $petergreen;
		}
	}
}

//////////////
//SINGLE POSTS
//////////////
article.post{
	header{
		h1{
			font-size: 24px;
		}
		.entry-meta{
			font-family: $neuton;
			font-size: 16px;
			border-bottom: 1px solid $petergreen;
			text-align: center;
			padding-bottom: $bru;
			margin-bottom: $bru*2;
			a{
				text-decoration: none;
				color: $petergreen;
			}
		}
	}
	.entry-content{

	}

	footer{

	}
}

.post-post-nav{
	clear: both;
	width: 50%;
	margin: 0 auto;
	border-top: 1px solid $petergreen;
	margin-top: $bru;

}
