/* ==========================================================================
   Footer
   ========================================================================== */

footer{
	width: 20%;
	margin: 0 auto;
	text-align: center;
	margin-top: $bru*2;
}


.site-footer {
	text-align: center;
	font-family: $worksans;
	clear: both;
}

span.edit-link{
	visibility: hidden;
	margin: 0 auto;
	font-family: $worksans;
	border-bottom: 1px dotted grey;
}

span.edit-link:after{
content: ' (for logged in users only)';
}
