/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	margin-top: 0px;
}

.site-description {
	display: none;
}

.site-title {
	width: 40%;
	margin: 0 auto;
	background-image: url('assets/img/fblogovert.png');
	background-size: 100%;
	background-repeat: no-repeat;
	a{
		visibility: hidden;
	}
}

ul#menu-principal{
	li{
		margin-right: 10px;
	}
}