/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
}

.site-description {
	display: none;
}

.site-title {
	display: none;
}

ul#menu-principal{
	li{
		margin-right: 10px;
	}
}