/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	margin-top: 0px;
	background-image: url();
}


ul#menu-principal{
	li{
		margin-right: 10px;
	}
}