/* ==========================================================================
   Menus
   ========================================================================== */

header.site-header{
	hr{
		color: grey;
		width: 780px;
		float: right;
	}
}

.main-navigation {
	clear: both;
	width: 1000px;
	margin: 0 auto;
	height: 100px;
	padding-bottom: $bru;
	padding-top: $bru*2;
	//outline: 1px solid blue;
}

div.site-branding{
	height: 150px;
	width: 175px;
	float: left;
	background: url('assets/img/FBLOGOjaune.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.main-navigation ul {
	list-style: none;
	float: left;
}

.menu-principal-container{
	width: 750px;
	float: left;
}

.main-navigation li {
	float: left;
	width: 200px;
	padding-top: 0px;
	padding-right:  0px;
	padding-left: 25px;
	//border-left: 1px solid grey;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	font-family: $worksans;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
}

.main-navigation li.menu-item:first-of-type {
	border-left: 1px solid $petergreen;
}

.main-navigation li.menu-item:first-of-type:after{
	content: "―";
	color: $petergreen;
}

.main-navigation li.lang-item:first-of-type:after{
	content: "―";
	padding-left: 5px;
	color: grey;
}

.main-navigation li.menu-item:nth-of-type(2) {
	border-left: 1px solid $mustardyellow;
}

.main-navigation li.menu-item:nth-of-type(2):after {
	content: "―";
	color: $mustardyellow;
}

.main-navigation li.menu-item:nth-of-type(3) {
	border-left: 1px solid $bloodred;
}

.main-navigation li.menu-item:nth-of-type(3):after {
	content: "―";
	color: $bloodred;
}

.main-navigation li.search:nth-of-type(3):after {
	content: none;
}

.main-navigation li.menu-item:nth-of-type(4) {
	border-left: 1px solid $petergreen;
}

.main-navigation li.menu-item:nth-of-type(4):after {
}

.main-navigation li.menu-item:nth-of-type(5) {
	border-left: 1px solid $mustardyellow;
}

.main-navigation li.menu-item:nth-of-type(6) {
	border-left: 1px solid $bloodred;
}

ul.lang{
	padding: 0;
	//outline: 1px solid green;
}
li.lang-item , li.search{
	line-height: 12px;
	list-style: none;
	width: 30px;
	float: left;
	clear: both;
	border-left: 1px solid grey;
	a{
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	text-align: center;
	color: grey;
	}
}


li.lang-item:nth-of-type(2)::after{
	content: none;
}


li.current-lang a{
	color: black;
	border: 1px solid grey;
}

svg.geomicon-search{
	fill: lightgrey;
	width: 20px;
	padding-top: 10px;
	padding-left: 5px;
}

div.menu-search{
	//display: none;
	margin-top: 100px;
	text-align: right;
	input{
		width: 780px;
		border: 1px solid grey;
		color: lightgrey;
		font-size: 14px;
		height: 30px;
		//padding-left: 10px;
	}
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */

button.menu-toggle{
	background-color: $petergreen;
	border: none;
	padding: 10px;
}
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (min-width: 1300px) {
	.main-navigation li:first-of-type {
	background-size: 30%;
	}

}

@media screen and (max-width: 1220px) {
	.main-navigation li {
		width: 20%;
		float: left;
		padding-top: 0px;
		padding-right:  0px;
		padding-left: 20px;
		border-left: 1px solid grey;
	}



}

@media screen and (max-width: 800px) {
	div.scroll-back-to-top-wrapper.show{
		visibility: hidden;
	}

	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
	button.menu-toggle{
		margin: 0 auto;
	}
	.site-title {
		visibility: visible;
		height: auto;
		width: 40%;
		margin: 0 auto;
		margin-top: $bru;
		background-image: url('assets/img/fblogovert.png');
		background-size: 100%;
		background-repeat: no-repeat;
		a{
			visibility: hidden;
		}
	}

	.site-description {
		display: block;
	}


	div.site-branding{
		display: block;
		h1{
			height: 300px;
		}
		h2{
			text-align: center;
		}
	}

	.main-navigation li:first-of-type {
		display: none;
	}

	.main-navigation{
		background-color: white;
		z-index: 5;
	}

	.main-navigation li {
		width: 100%;
		text-align: center;
		padding: 0;
	}

	div.languages{
	position: relative;
	width: 100%;
	margin: 0 auto;
	ul li{
		float: right;
		background-color: grey;
		padding: 10px;
		margin: 5px;
		width: 25px;
		text-align: center;
		}
		.current-lang{
			background-color: $petergreen;
		}
	}

	nav#site-navigation.toggled{
		height: 400px;
		div.menu-principal-container{
			margin-top: $bru;
		}
	}

	.main-navigation li:nth-of-type(5):after {
		content: '—';
	}

	.main-navigation li:nth-of-type(6):after {
		content: '—';
	}


}

@media screen and (max-width: 600px) {
	div.site-branding{
		h1{
			height: 200px;
		}
	}

}

@media screen and (max-width: 400px){
	div.site-branding{
		h1{
			clear: both;
			height: 150px;
		}
	}
	div.languages{
	position: relative;
	clear: both;
	width: 100%;
	margin: 0 auto;
	}
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
