/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
}

/* ==========================================================================
   Blog pages
   ========================================================================== */

body.blog {
}

/* ==========================================================================
   Posts and pages
   ========================================================================== */

div.entry-content{
	width: 50%;
	margin: 0 auto;
	hr{
	width: 30%;
	margin: 0 auto;
	padding-bottom: $bru;
	}
	p{
	width: 70%;
	margin: 0 auto;
	}
}
