/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
}

/* ==========================================================================
   Blog pages
   ========================================================================== */

body.blog {
}

/* ==========================================================================
   Posts and pages
   ========================================================================== */

div#primary{
}

article.page{
	z-index: 2;
	width: 60%;
	float: left;
	margin: 0 auto;
	clear: right;
}

div.entry-content{
	margin: 0 auto;
	z-index: 3;
	hr{
		width: 30%;
		margin: 0 auto;
		padding-bottom: $bru;
	}
	p{
		width: 70%;
		margin: 0 auto;
		strong{
			font-family: $worksans;
		}
	}
	ul{
		width: 70%;
		margin: 0 auto;
		font-family: $worksans;
		list-style-type: none;
	}
	li{
		font-size: 16px;
	}
	ul li:before{
		display: inline-block;
		content: "-";
		width: 1em;
		margin-left: -1em;
	}
	.master-slider-parent{
		margin-top: $bru*2;
		margin-bottom: $bru;
	}
}

div.container{
	width: $container;
	margin: 0 auto;
}

div.hero-container{
	width: 100%;
	clear: both;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	h1{
		display: inline-block;
		text-align: center;
		margin-top: 60px;
		left: 0%;
		right: 0%;
		margin-left: auto;
		margin-right: auto;
		font-size: 20px;
		background-color: white;
		padding: 10px;
	}
}

div.article-sidematter{
	h1.entry-title{
		display: none;
	}
}


/* ==========================================================================
   Side bar
   ========================================================================== */
p{
	a.side-matter-ref{
		sup{
		font-size: 12px;
		color: $orange;
		padding-left: 3px;
		}
	}
}


@media screen and (max-width: 1220px) {
	div#sidematter{
	}

	article{
		width: 70%;
		margin-left: 15%;
	}

	div.entry-content{
		hr{
			width: 50%;
			margin: 0 auto;
			padding-bottom: $bru;
		}
		p{
			width: 70%;
			margin: 0 auto;
			strong{
				font-family: $worksans;
			}
		}
		ul{
			width: 70%;
			margin: 0 auto;
			font-family: $worksans;
			list-style-type: none;
		}
	}

	div.hero-container{
		width: 100%;
		margin-bottom: -100px;
		img.hero{
			width: 100%;
			max-height: 250px;
			z-index: 0 !important;
		}
	}

	div.title{
		background-color: white;
		display: inline-block;
		width: 25%;
		margin-left: 37.5%;
		margin-bottom: 100px;
		h1{
			font-size: 20px;
		}
	}

	div.article-sidematter{
		h1.entry-title{
			display: none;
		}
	}
}

@media screen and (max-width: 800px) {
	article{
		width: 90%;
		margin-left: 5%;
	}
	div.entry-content{
		hr{
			width: 60%;
		}
		p{
			width: 100%;
		}
		ul{
			width: 90%;
			margin-left: -20px;
		}
		footer.entry-footer{
			display: none;
		}
	}
	div#sidematter{
	width: 90%;
	margin-top: 0px;
	margin-left: $bru*2;
	margin: 0 auto;
	li{
		margin-top: 0px !important;
	}
	}
	div.title{
	background-color: white;
	display: inline-block;
	width: 50%;
	margin-left: 25%;
	margin-bottom: $bru;
	text-align: left;
	}

}
