/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
}

/* ==========================================================================
   Blog pages
   ========================================================================== */

body.blog {
}

/* ==========================================================================
   Posts and pages
   ========================================================================== */

div#primary{
}

article{
	z-index: 2;
	width: 50%;
	float: left;
	margin-left: 25%;
	clear: right;

}

div.entry-content{
	margin: 0 auto;
	hr{
	width: 30%;
	margin: 0 auto;
	padding-bottom: $bru;
	}
	p{
	width: 70%;
	margin: 0 auto;
	}
}

div.hero-container{
	width: 100%;
	max-height: 200px;
	z-index: -1;
	display: none;
	img.hero{
		width: 100%;
		max-height: 200px;
		background-size: cover;
	}
}

div.article-sidematter{
	z-index: 2;
}


/* ==========================================================================
   Side bar
   ========================================================================== */

div#sidematter{
	width: 20%;
	float: left;
	position: relative;
	margin-left: -90px;
}