html{
	font-family: $worksans;
}

body{
	font-family: $worksans;
	font-size: $bru;
}

h1 h2 h3 h4 h5 h6 {
	font-family: $worksans;
}

h1.entry-title{
	text-transform: uppercase;
	text-align: center;
	font-family: $worksans;
}

div.entry-content{
	font-family: $neuton;
	h2{
		font-family: $worksans;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 16px;
		text-align: center;
	}
	h3{
		text-align: center;
		font-weight: normal;
		font-size: 28px;
		padding-bottom: $bru;
	}
	p{
		font-size: $bru;
	}
}