html{
	font-family: $worksans;
}

body{
	font-family: $worksans;
}

h1 h2 h3 h4 h5 h6 {
	font-family: $worksans;
}

div.entry-content{
	font-family: $neuton;
	width: 60%;
	margin: 0 auto;
}

h1.entry-title{
	text-transform: uppercase;
	text-align: center;
	font-family: $worksans;
}