html{
	font-family: $worksans;
}

body{
	font-family: $worksans;
	font-size: $bru;
}

h1 h2 h3 h4 h5 h6 {
	font-family: $Worksans-reg;
}

h1.entry-title{
	text-transform: uppercase;
	text-align: center;
	font-family: $worksansbold;
}

h1{
	font-size: $bru;
}

h2{
	text-transform: uppercase;
	font-size: 16px;
}

div.entry-content{
	font-family: $neuton;
	h2{
		font-family: $worksans;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 16px;
		text-align: center;
	}
	h3{
		text-align: center;
		font-weight: normal;
		font-size: 28px;
		padding-bottom: $bru;
	}
	p{
		font-size: $bru;
		//text-indent: 30px;
	}
}

div.side-matter.side-matter-text{
	font-style: italic;
	font-size: 12px;
	ol.side-matter.side-matter-list{
	}
	li.side-matter-note{
		font-size: 6px !important;
	}
	li.side-matter-note:before{
		//this doenst work, I guess it's overwritten by the javascript that manages side-matter
		content: "\2192 \20 ";
	}
}

@media screen and (max-width: 800px) {
	div.entry-content{
		font-family: $neuton;
		h2{
			font-family: $worksans;
			text-transform: uppercase;
			text-decoration: underline;
			font-size: 16px;
			text-align: center;
		}
		h3{
			text-align: left;
			font-weight: normal;
			font-size: 28px;
			padding-bottom: $bru;
		}
		p{
			font-size: $bru;
			//text-indent: 30px;
		}
	}
}
