/* ==========================================================================
   Variables
   ========================================================================== */

// Structure
$pageWidth: 1000px;

// Text Selection
$selectionColor: orange;

// Colors
$red: red;
$blue: blue;

$Worksans-bold: WorkSans-Semibold;

$Worksans-reg: WorkSans;
